<h3>Authors</h3>
<%= render "layouts/flash_messages" %>
<%= link_to "New Author", new_author_path %>
<br>
<% @authors.each do |author| %>
    Nome: <%= author.name %> |
    <%= link_to "Show", author_path(author) %>
    <%= link_to "Edit", edit_author_path(author) %>
    <%= link_to "Delete", author_path(author), method: :delete, data: {confirm: "Are you sure?"}%>
    <br>
<% end %>