<h3>Clients</h3>
<%= render "layouts/flash_messages" %>
<%= link_to "New Client", new_client_path %>
<br>
<% @clients.each do |client| %>
    <%= client.name %>
    <%= link_to "Edit", edit_client_path(client) %>
    <%= link_to "Delete", client_path(client), method: :delete, data: {confirm: "Are you sure?"}%>
    <br>
<% end %>