<%= form_with model: resource do |form| %>
    <%= render "layouts/flash_messages" %>

    <%= form.text_field :name %>

    <%= form.select :author_id, @authors.collect { |author| [author.name, author.id] }  %>

    <%= form.submit %>
<% end %>

<%= link_to "Back", books_path %>