<h3>Books</h3>
<%= render "layouts/flash_messages" %>
<%= link_to "New Book", new_book_path %>
<br>
<% @books.each do |book| %>
    Titulo: <%= book.name %> |
    Autor: <%= book.author.name %> |
    <%= link_to "Show", book_path(book) %>
    <%= link_to "Edit", edit_book_path(book) %>
    <%= link_to "Delete", book_path(book), method: :delete, data: {confirm: "Are you sure?"}%>
    <br>
<% end %>