<%= form_with model: resource do |form| %>
    <%= render "layouts/flash_messages" %>

    Active: <%= form.check_box :active %><br>
    Book: <%= form.select :book_id, @books.collect { |book| [book.name, book.id] }  %><br>
    Client: <%= form.select :client_id, @clients.collect { |client| [client.name, client.id] }  %><br>
    Librarian: <%= form.select :librarian_id, @librarians.collect { |librarian| [librarian.name, librarian.id] }  %><br>


    <%= form.submit %>
<% end %>

<%= link_to "Back", reservations_path %>