<h3>Reservations</h3>
<%= render "layouts/flash_messages" %>
<%= link_to "New Reservation", new_reservation_path %>
<br>
<% @reservations.each do |reservation| %>
    Active : <%= reservation.active %>
    Client: <%= reservation.client.name %> |
    Book: <%= reservation.book.name %> |
    Librarian: <%= reservation.librarian.name %> |
    <%= link_to "Edit", edit_reservation_path(reservation) %>
    <%= link_to "Delete", reservation_path(reservation), method: :delete, data: {confirm: "Are you sure?"}%>
    <br>
<% end %>