<h3>Librarians</h3>
<%= render "layouts/flash_messages" %>
<%= link_to "New Librarian", new_librarian_path %>
<br>
<% @librarians.each do |librarian| %>
    Name: <%= librarian.name %>
    <%= link_to "Edit", edit_librarian_path(librarian) %>
    <%= link_to "Delete", librarian_path(librarian), method: :delete, data: {confirm: "Are you sure?"}%>
    <br>
<% end %>