<h3>MENU</h3>
<%= link_to "Librarians", librarians_path %>
<%= link_to "Clients", clients_path %>
<%= link_to "Books", books_path %>
<%= link_to "Authors", authors_path %>
<%= link_to "Reservations", reservations_path %>
